colorama
transformers==2.11.0
tensorflow==2.2.0
keras==2.4.3
numpy
pandas
sklearn
pprint
matplotlib
tabulate
textblob
python-Levenshtein
seaborn
keras-tuner
spacy
torch
autocorrect
pillow
prince
opencv-python
nltk
download

altair==4.1.0
streamlit==0.63.1
