colorama
transformers==3.0.2
tensorflowjs
keras==2.4.3
numpy
pandas
sklearn
matplotlib
tabulate
textblob
seaborn
keras-tuner
jellyfish
spacy
autocorrect
pillow
prince
opencv-python
nltk
download
altair==4.1.0
streamlit==0.64.0
xgboost
tensorflow_gpu==2.3.1
