colorama
transformers==2.11.0
tensorflow==2.2.0
keras==2.4.3
numpy
sklearn
pprint
tabulate
textblob
python-Levenshtein
keras-tuner
spacy
torch
autocorrect
pillow
prince
opencv-python
nltk
altair==4.1.0
matplotlib==3.2.1
pandas==1.0.4
seaborn==0.10.1
streamlit==0.63.1
