#topArrow{
    height: 410px;
    width: 970px;
    position: absolute;
    left: -65px;
    top:40px;
    background-color: white;
    transform: skewX(-20deg);
}

#bottomArrow{
    height: 370px;
    width: 970px;
    position: absolute;
    left: -70px;
    top:440px;
    background-color: white;
    transform: skewX(20deg);
}

#overview{
    width: 600px;
    left: 130px;
    top: 130px;
    color: rgb(39, 130, 255);
    z-index: 11;
    position: absolute;
    text-align: left;
    font-size: 45px;
    font-weight: 600;
}

#infoBox{
    z-index: 5;
    position: absolute;
    top: 450px;
    left: 50px;
    
    width: 750px;
    height: 300px;
    
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #a8d7ff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#des_nav_bar{
    list-style-type: none;
    padding-left: 0px;
    border-bottom: 1px solid gray;
    height: 40px;
}

.des_nav_line{
    margin: 0px;
    margin-top: 10px;
}

.des_tab{
    margin-right: 20px;
    margin-left: 15px;
    padding-top: 10px;
    
    float:left;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #5d5d5d;
}

.des_tab:hover{
    animation-name: desNavBorder;
    cursor: pointer;
}

.des_tab.active{
    animation-name: desNavBorder;
}

.description{
    color: #5f5f5f;
    z-index: 4;
    position: absolute;   
    width: auto;
    
    font-size: 30px;
    font-weight: 400;
    opacity: 0%;
    padding: 20px;
}

.description.slideIn{
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#graphic{
    width: 1920px;
    top:40px;
    position: absolute;
}

/*pencil*/
#g1{
    z-index: 4;
    position: absolute;
    left: 1402px;
    top: 70px;
}

/*coin*/
#g0{
    z-index: 6;
    position: absolute;
    left: 1527px;
    top: 245px;
}

/*table*/
#g2{
    z-index: 4;
    position: absolute;
    left: 1005px;
    top: 215px;
}

/*stats*/
#g3{
    z-index: 4;
    position: absolute;
    left: 1007px;
    top: 465px;
}

/*handshake*/
#g4{
    z-index: 6;
    position: absolute;
    left: 1320px;
    top: 550px;
}

/*bulb*/
#g5{
    z-index: 5;
    position: absolute;
    left: 1230px;
    top: 215px;
}

.platform.float{
    animation-name: floating;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.platform.drop{
    animation-name: drop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.platform.lift{
    animation-name: lift;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes slideIn{
    from{opacity: 0%; margin-top:30px;}
    to{opacity: 100%; margin-top:10px}
}

@keyframes floating{
    0%   {margin-top: -35px;}
    50%  {margin-top: -25px;}
    100%  {margin-top: -35px;}
}

@keyframes drop{
    from{margin-top:-35px;}
    to{margin-top:0px;}
}

@keyframes lift{
    from{margin-top:0px;}
    to{margin-top:-35px;}
}

#featureBox{
    position: absolute;
    width: 1920px;
    top: 810px;
    left: 0px;
    background-color: white;
    height: 2000px;
    padding-top: 160px;
}

#featureBox h2{
    margin:auto;
    text-align:center;
    font-weight: 400;
    font-size: 50px;
    color: #4b4b4b;
    border-bottom: 1px solid #b2b2b2;
    width:400px;
}

#pipeline{
    width: 500px;
    position: absolute;
    left: 320px;
    top: 300px;
}

#pipelineTxt{
    position: absolute;
    top: 320px;
    left: 980px;
    width: 650px;
    font-size: 25px;
    font-weight: 400;
    color: #5f5f5f;
}

#nlpTxt{
    position: absolute;
    top: 650px;
    left: 150px;
    width: 650px;
    font-size: 25px;
    font-weight: 400;
    color: #5f5f5f;
    text-align: right;
}

#nlp{
    width: 500px;
    position: absolute;
    left: 960px;
    top: 600px;
}

#teamBox{
    position: absolute;
    width: 1920px;
    top: 2970px;
    left: 0px;
    background-color: #646464;
    height: 500px;
}

#teamBox h2{
    margin:auto;
    margin-top: 30px;
    text-align:center;
    font-weight: 400;
    font-size: 50px;
    color: white;
    border-bottom: 1px solid white;
    width: 500px;
}

#teamBox p{
    margin-top: 45px;
    text-align: center;
    font-size: 25px;
    color:#c4dce5;
}

#plugs{
    width: 900px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    margin: auto;
    margin-top: 60px;
    color: white;
    text-align: center;
}

#plugs a{ 
    color: white;
}

#plugs a:hover{
    color: #7dcdff;
}