:root{
    --anim-del: 0s;
    --screen-width: 10;
    --screen-height: 10;
/*
    transform-origin: top left;
    transform:scale(calc(var(--screen-width)/1920));
*/
}

body{
    width: 1905px;
    padding:0px;
    background-color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}


#navigation {
    list-style-type: none;
    background-color: white;
    width: 1920px;
    height: 45px;
    
    position: fixed;
    top:0px;
    left:0px;
    
    margin: 0px;
    padding-bottom: 3px;
    overflow:hidden;
    padding-left: 0px;
    z-index: 100;
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.66);
}

#nav_logo{
    height: inherit;
}

#nav_logo_tab{
    float:left;
    width: 15%;
    text-align: center;
    height:inherit;
    display: block;
}

.nav_tab{
    float:left;
    width: 130px;
    text-align: center;
    height:inherit;
    display: block;
    color: #727272;
}

.nav_tab a{
    background-color: white;
    display: block;
    box-sizing: border-box;
    height: inherit;
    color: inherit;
    padding-top: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.nav_tab:hover{
/*    animation name gets inherited by the child element nav_line*/
    animation-name: navBorder; 
    color: #464646;
}

.nav_line{
    background-color: #464646;
    height: 3px;
    width: 0px;
    position: relative;
    clear:both;
    z-index: 101;
    animation-name: inherit;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    margin-left: 10%;
    margin-right: 10%;
}

.nav_line.selected{
    width: 80%;
}


@keyframes navBorder{
    from{width:0%}
    to{width:80%}
}

@keyframes desNavBorder{
    from{width:0%}
    to{width:100%}
}