#header{
    width: 1920px;
    height: 300px;
    background-color: white;
    top: 30px;
    left:0px;
    position: absolute;
}

#overview{
    left: 130px;
    top: 100px;
    color: rgb(39, 130, 255);
    z-index: 11;
    position: absolute;
    text-align: left;
    font-size: 45px;
    font-weight: 600;
}

#description{
    position: absolute;
    top: 150px;
    left: 130px;
    color: #404040;
}

#questionImg{
    position: absolute;
    left: 1200px;
    top: 50px;
    height: 200px;
}

#content{
    position: absolute;
    top: 350px;
    left: 0px;
    width:1920px;
}

.box{
    width: 1100px;
    height: auto;
    margin:auto;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #a8d7ff;
    border-radius: 10px;
    overflow: hidden;
}

.box:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}

.box h3{
    margin-left: 30px;
    color: #4d4d4d;
    background-color: inherit;
}

.box p{
    margin: 0px;
    margin-left: 30px;
    margin-bottom: 0px;
    height: 0px;
    transition: height 0.5s;
}

.box p.selected{
    height: 60px;
}